@page "/games/details"
@inject Lab4_zad2.Data.ApplicationDbContext DB
@using Lab4_zad2.Components.Baza_danych
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore
@rendermode InteractiveServer

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h4>Game</h4>
    <hr />
    @if (game is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Title</dt>
            <dd class="col-sm-10">@game.Title</dd>
            <dt class="col-sm-2">Description</dt>
            <dd class="col-sm-10">@game.Description</dd>
            <dt class="col-sm-2">RelaseDate</dt>
            <dd class="col-sm-10">@game.RelaseDate</dd>
            <dt class="col-sm-2">Rate</dt>
            <dd class="col-sm-10">@game.Rate</dd>
        </dl>
        <div>
            <a href="@($"/games/edit?id={game.Id}")">Edit</a> |
            <a href="@($"/games")">Back to List</a>
        </div>
        <div>
                <p>Dodaj ocene ponizej =)</p>
             <input class="form-control" @onchange="@Dodaj_ocene" />
        </div>
        <div style="margin-top: 20px">
             <img src="@game.url" alt="Obrazek gry" width="750"/>
        </div>
    }
</div>

@code {
    Game? game;

    [SupplyParameterFromQuery]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        game = await DB.Game.FirstOrDefaultAsync(m => m.Id == Id);

        if (game is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
    private void Dodaj_ocene(ChangeEventArgs arg)
    {
        float ocena;
        if (float.TryParse(arg.Value.ToString(),out float result)){
            if (game.Rate != null)
            {
                ocena = ((float)game.Rate + float.Parse(arg.Value.ToString())) / (float)2.0;
                game.Rate = ocena;
            }
            else
            {
                game.Rate = float.Parse(arg.Value.ToString());
                
            }
        }
    }
}
